{% extends 'base.html.twig' %}

{% block title %}Créer une catégorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie</h1>

    {{ include('back/category/_form.html.twig') }}

    <a class="btn btn-primary btn-sm mb-3" href="{{ path('app_back_category_index') }}">Retourner à la liste des catégories</a>
{% endblock %}
