<form method="post" action="{{ path('app_back_question_delete', {'id': question.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette question ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
    <button class="btn btn-danger btn-sm mb-1">Supprimer</button>
</form>
