{% extends 'bundles/TwigBundle/Exception/base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block subtitle %}Oups!{% endblock %}

{% block message %}Erreur 404:{% endblock %}

{% block description %}La page demandée n'existe pas.{% endblock %}

{% block link %}
<a class="btn btn-lg btn-warning mt-1" href="{{path('app_back_home')}}">Retourner à la page d'accueil</a>
{% endblock %}

{% block picture %}{% endblock %}

